<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard Page | Restricted</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div id="user-dashboard">
        <h2>Welcome to your CSRF project.</h2>
        <h2>Your secret message is: {{.SecretMessage}}</h2>
        
        <form name="login"></form>
        <form name="deleteUser"></form>
    </div>
    
    <script>
        
    </script>
</body>
</html>